/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html,
body {
	height: 100%;
  margin: 0;
  padding: 0;
}

div {
    text-align: center;
    align-items: center;
    margin: 5px;
  }

#content-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width: auto;
  }

.table-headings {
  font-family: sans-serif;
	font-weight:bold;
  font-style: oblique;
  background-color: rgba(47,79,79,0.4);
}

td {
	padding: 15px;
	background-color: rgba(192,192,192,0.3);
	color: #fff;
}

button, input {
  border-radius: 10px;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin:3px;

}
